body{
    font-family: Arial;
    background-color: #f8f8f8;
    color: black;
    font-size: 4vw;
    ;
}

.skip a{
    background: white;
    position: absolute;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    top: -40px;
}

.skip a:focus{
top: 20px;
}

:focus{
border: 3px solid #08caff;
}


h1{
    background: #f1f1f1;
    color: #00274C;
    font-size: 10vw;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
}

h2{
    font-size: 6vw;
    color: #2F65A7;
    font-weight: bolder;
}

h3{
    color: black;
    font-weight: 1000;
}

h4{
    color: #2F65A7;
    font-weight: bolder;
}

nav{
    background: #00274C;
    padding: 12px 0;
}

#nav-list{
    color: #FFCB05;
    text-decoration: underline;
    margin: 8px;
}
#nav-list li{
    padding: 5px 0;
}

.active{
    text-decoration: underline;
    color: white;
    font-weight: bold;
}

footer{
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    background: #00274C;
    color: white;
    text-align: center;
    padding: 40px;
}

footer img, footer #footer-link, footer .address {
    grid-column: 2 / 3;
}

#footer-link{
    text-decoration: underline;
    padding: 20px 0;
}

footer img{
    width: 50%;
    justify-self: center;
}
#main-content{
    display: grid;
    grid-template-columns: 1fr 15fr 1fr;
    row-gap: 2em;
    background: #f1f1f1;
    margin-bottom: 50px;
}

#logo{
    width: 20vw;
}

.introduction{
    text-align: center;
    grid-column: 2 / 3;
    padding: 20px 25px 0;
}

.homepage-section{
    grid-column: 2 / 3;
    background: #00274C;
    border-radius: 12px;
}

.homepage-content{
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    row-gap: 1em;
    padding: 20px 0;
}
.homepage-content h2, .homepage-content h3, .homepage-content p{
    grid-column: 2 / 3;
    color: #cfdeed;
}

.homepage-content h3{
    padding-bottom: 20px;
}

.homepage-content .button a{
    display: block;
    background: white;
    color: #00274C;
    font-weight: bolder;
    padding: 10px 20px;
    width: fit-content;
    border-radius: 20px;
    grid-column: 2 / 3;
}

.page-content{
    grid-column: 2/3;
    background: white;
    box-shadow: 0px 6px 12px -5px #cbcbcb;
    border-radius: 8px;
}

#main-content img, #main-content iframe{
    grid-column: 2 / 3;
    width: 100%;
}

.block-content{
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    row-gap: 1em;
    padding: 20px 0 30px;
}

.block-content h2, .block-content h3, .block-content p, .block-content ul, .block-content iframe, .block-content div, .block-content a{
    grid-column: 2 / 3;
}

.block-content .button a{
    display: block;
    background: #00274C;;
    color: white;
    font-weight: bolder;
    padding: 10px 20px;
    width: fit-content;
    border-radius: 40px;
    grid-column: 2 / 3;
}

.contact-heading{
    grid-column: 2 / 3;
    display: grid;
    position: relative;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.contact-heading h2, .contact-heading img{
    grid-area: 1 / 1;
}
.contact-heading img{
    width: 100%; 
}
.contact-heading h2{
    position: absolute;
    width: fit-content;
    text-align: center;
    background: rgba(255, 255, 255, 0.738);
    padding: 20px 40px;
}
