body{
    font-family: Arial;
    background-color: #f8f8f8;
    color: black;
    font-size: 4vw;
    ;
}

.skip a{
    background: white;
    position: absolute;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    top: -60px;
}   

.skip a:focus{
top: 20px;
}

:focus{
border: 3px solid #08caff;
}


h1{
    background: #f1f1f1;
    color: #00274C;
    font-size: 10vw;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
}

h2{
    font-size: 6vw;
    color: #2F65A7;
    font-weight: bolder;
}

h3{
    color: black;
    font-weight: 1000;
}

h4{
    color: #2F65A7;
    font-weight: bolder;
}

nav{
    background: #00274C;
    padding: 12px 0;
}

#nav-list{
    color: white;
    margin: 8px;
}
#nav-list li{
    padding: 5px 0;
}

.active{
    text-decoration: underline;
    color: #FFCB05;
    font-weight: bold;
}

footer{
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    background: #00274C;
    color: white;
    text-align: center;
    padding: 40px;
}

footer img, footer #footer-link, footer .address {
    grid-column: 2 / 3;
}

#footer-link{
    text-decoration: underline;
    padding: 20px 0;
}

footer img{
    width: 50%;
    justify-self: center;
}
#main-content{
    display: grid;
    grid-template-columns: 1fr 15fr 1fr;
    row-gap: 2em;
    background: #f1f1f1;
    margin-bottom: 50px;
}

#logo{
    width: 20vw;
}

.introduction{
    text-align: center;
    grid-column: 2 / 3;
    padding: 20px 25px 0;
}
.cards{
    display: grid;
    grid-column: 2 / 3;
    row-gap: 2em;
}

.homepage-section{
    grid-column: 2 / 3;
    background: #00274C;
    border-radius: 12px;
}

.homepage-content{
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    row-gap: 1em;
    padding: 20px 0;
}
.homepage-content h2, .homepage-content h3, .homepage-content p{
    grid-column: 2 / 3;
    color: #cfdeed;
}

.homepage-content h3{
    padding-bottom: 20px;
}

.homepage-content .button a{
    display: block;
    background: white;
    color: #00274C;
    font-weight: bolder;
    padding: 10px 20px;
    width: fit-content;
    border-radius: 20px;
    grid-column: 2 / 3;
}

.page-content{
    grid-column: 2/3;
    background: white;
    box-shadow: 0px 6px 12px -5px #cbcbcb;
    border-radius: 8px;
}
.maize-intro{
    grid-column: 2 / 3;
    display: grid;
    row-gap: 7vw;
}
.maize-hours{
    grid-column: 2 / 3;
    display: grid;
    row-gap: 7vw;
}
#main-content img, #main-content iframe{
    grid-column: 2 / 3;
    width: 100%;
}

.block-content{
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    row-gap: 1em;
    padding: 20px 0 30px;
}

.block-content h2, .block-content h3, .block-content p, .block-content ul, .block-content iframe, .block-content div, .block-content a{
    grid-column: 2 / 3;
}

.block-content .button a, #main-content .page-not-found .button{
    display: block;
    background: #00274C;
    color: white;
    font-weight: bolder;
    padding: 10px 20px;
    width: fit-content;
    border-radius: 40px;
    grid-column: 2 / 3;
}

.contact-heading{
    grid-column: 2 / 3;
    display: grid;
    position: relative;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.contact-heading h2, .contact-heading img{
    grid-area: 1 / 1;
}
.contact-heading img{
    width: 100%; 
}
.contact-heading h2{
    position: absolute;
    width: fit-content;
    text-align: center;
    background: rgba(255, 255, 255, 0.738);
    padding: 20px 40px;
}

.services{
    grid-column: 2/3;
    display: grid;
    row-gap: 30px;
}
.access-caps{
    grid-column: 2/3;
    display: grid;
    row-gap: 30px;
}

.contact-content{
    grid-column: 2 / 3;
    display: grid;
    row-gap: 7vw;
}

form {
    grid-column: 2 / 3;
    background-color: #f1f1f1; 
    border: solid #00274C 2px;
    padding: 20px;
    color: #00274C; 
}

legend{
font-weight: bold;
padding-bottom: 2vw;
}

label {
display: block;
margin-bottom: 10px;
}

input[type="text"]{
width: 100%;
padding: 8px;
margin-bottom: 15px;
border: 1px solid #00274C;
border-radius: 5px;
}
textarea{
width: 100%;
padding: 8px;
margin-bottom: 15px;
border: 1px solid #00274C;
border-radius: 5px;
}

input[type="submit"] {
background-color: #FFCB05; 
color: #00274C; 
padding: 10px 30px;
width: auto;
border-radius: 20px;
}

.page-not-found{
    grid-column: 2/3;
    justify-items: center;
    display: grid;
    grid-template-columns: 1 fr;
    row-gap: 2vw;
    margin: 3vw 0;
}
#main-content .page-not-found h2, #main-content .page-not-found .button{
    grid-column: 1 / 2;
}
#main-content .page-not-found img{
    grid-column: 1/2;
    width: 40%;
}


/* tablet view */
@media only screen and (min-width: 800px){
    footer img{
        width: 5vw;
    }

    nav{
        display: grid;
        grid-template-columns: 10% 90%;
        align-items: center;
        padding: 0px;
    }
    #nav-list{
        display: grid;
        grid-template-columns: auto auto auto auto;
        margin: 0;
        align-items: center;
    }
    #logo{
        width: 6vw;
    }
    body{
        font-size: 1.25vw;
    }
    h1{
        font-size: 5vw;
    }
    h2{
        font-size: 1.75vw;
    }
    #main-content{
        padding: 0 10%;
    }
    .cards{
        display: flex;
        gap: 40px;
    }
    
    .homepage-section{
        width: 100%;
    }

    .homepage-section:nth-of-type(3) .homepage-content{
        justify-items: center;
    }
    .homepage-section:nth-of-type(3) *{
        color: #00274C;
        background: #f1f1f1;
    }
    .homepage-section:nth-of-type(3) .button a{
        background: #00274C;
        color: white;
    }
    .services{
        display: flex;
    }
    #main-content .services img{
        width: 75%;
    }
    #main-content .services .page-content:first-of-type, #main-content .access-caps .page-content:last-of-type{
        width: 100%;
        border-radius: 0px;
        box-shadow: none;
        align-content: center;
    }

    .access-caps{
        display: flex;
    }
    #main-content .access-caps img{
        width: 50%;
    }
    .maize-intro{
        display: flex;
        flex-direction: row;
    }
    #main-content .maize-intro img{
        width: 60%;
    }
    #main-content .maize-intro .page-content{
        align-content: center;
        border-radius: 0;
        box-shadow: none;
    }
    #main-content .maize-intro #maize-intro p{
        line-height: 200%;
    }
   #main-content iframe{
    height: 40vw;
   }

   .maize-hours{
    display: flex;
    flex-direction: row;
   }
   #main-content .maize-hours img{
    width: 60%;
   }
   #main-content .maize-hours .page-content{
    align-content: center;
    border-radius: 0;
    box-shadow: none;
   }
   
   .contact-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    row-gap: 4vw;

   }
   #main-content .contact-content .page-content{
    grid-column: 1/3;
    width: 47%;
   }

   form {
    margin: 0 10vw;
  }

  legend{
    font-size: 1.75vw;
  }
}